body {
    padding: 0;
    margin: 0;
  }
  
  .status-viewer {
    display: flex;
    overflow: hidden;
  }
  
  .status-content {
    width: 100%;
    flex: 0 0 auto;
    display: none;
  }
  
  .status-content.active {
    display: block;
  }
  
  .progress-bar {
    width: 100%;
    height: 5px;
    background-color: #ffffff00;
    margin-top:5px;
    position: fixed;
    top: 0px;
  }
  
  .progress-segment {
    width: calc(100% / 6); /* Assuming 6 status contents, adjust accordingly */
    height: 100%;
    background-color: #ffffff; /* Initial segment color */
    border-radius: 15px;
}
  
  .controls {
    margin-top: 10px;
    text-align: center;
  }
  
  button {
    padding: 8px 16px;
    margin: 0 5px;
  }
  